* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background: #E7E7E7;
    width: 100%;
    height: 100vh;
}

.container {
    margin: 10% auto;
    border: 2px solid darkslategray;
    border-radius: 6px;
    max-width: 50%;
    height: 700px;
    background: #fff;
    padding: 2rem;
}

section {
    margin: 1rem 0;
}

.gallery-link {
    text-align: center;
}

.gallery-link > a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: navy;
    display: inline-block;
    margin: auto;
    border: 1px solid black;
    padding: 1rem;
    transition: all 0.3s ease-in-out;

}

.gallery-link > a:hover {
    box-shadow: 2px 4px 6px black;
}

code {
    background: #E7E7E7;
    border-radius: 4px;
    padding: 0 0.5rem;
}